name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  test:
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.runs-on }}

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: Install Mage
        run: go run mage.go EnsureMage

      - name: Run Tests in Bash
        if: ${{ matrix.runs-on == 'ubuntu-latest' || matrix.runs-on == 'macos-latest' }}
        run: mage test
        shell: bash
        env:
          TEST_SHELL: bash

      - name: Run Mage in CMD
        if: ${{ matrix.runs-on == 'windows-latest' }}
        run: mage test
        shell: cmd
        env:
          TEST_SHELL: cmd

      - name: Run Mage in PowerShell
        if: ${{ matrix.runs-on == 'windows-latest' }}
        run: mage test
        shell: powershell
        env:
          TEST_SHELL: powershell

      - name: Run Mage in Git Bash
        if: ${{ matrix.runs-on == 'windows-latest' }}
        run: mage test
        shell: bash
        env:
          TEST_SHELL: mingw64
